page-tabs {

    ion-page, 
    ion-content { background-color: transparent !important; }  
    
    ion-header { background: color($colors, faze, base); }

    ion-fab { margin-bottom: 15px; }
    ion-fab[left] { margin-left: 10px; }
    ion-fab[right] { margin-right: 10px; }

    ion-footer { z-index: 99999999999; }

    ion-slides { background-color: transparent !important; }
    ion-slide { 
        height: auto;
        display: block !important;
        align-items: unset !important;
    }

    .scroll-content {
        margin-bottom: 0px !important;
        padding-bottom: 0px !important;
    }

    #profiles-slide, 
    #details-slide {
        overflow-y: auto !important;
        background-color: #fff !important;
    }
    
    #camera-slide { 
        //background-color: transparent !important;
        background-size: cover;
        background-repeat: no-repeat;
        overflow: hidden;
    }

    #delete, #save, #next, #flash, #opacity {
        box-shadow: none;
        -webkit-box-shadow: none;
    }

    /** PLATFORM SPECIFIC **/
    .ios ion-modal {
        $height: $toolbar-ios-height;
        .modal-content {
            position: absolute;
            top: $height !important;
        }
    }
    
    .md ion-modal {
        .modal-content {
            position: absolute;
            top: $toolbar-md-height !important;
        }
    }
    
    .wp ion-modal {
        .modal-content {
            position: absolute;
            top: $toolbar-wp-height !important;
        }
    }    
}


