<ion-navbar [color]="activeTab !== 2 ? 'i-faze' : 'transparent'">
  <ion-buttons left>
    <button 
      ion-button 
      icon-only 
      round 
      (click)="home()">
      <img id="logo" src="assets/imgs/logo.png">
    </button>
  </ion-buttons>

  <ion-title>{{ title }}</ion-title>

  <ion-buttons right>
    <!--  PROFILE DETAILS CONTROLS  -->
    <ng-container *ngIf="activeTab === 0">
      <button 
        [@fadeIn] 
        ion-button 
        icon-only 
        (click)="camera()">
        <ion-icon name="camera"></ion-icon>
      </button>
  
      <button 
        [@fadeIn] 
        ion-button 
        icon-only 
        [disabled]="!shareEnabled" 
        (click)="share()">
        <ion-icon name="share"></ion-icon>
      </button>
    </ng-container>
    <!--  END PROFILE DETAILS CONTROLS  -->


    <!--  PROFILE SELECTION CONTROLS  -->
    <ng-container *ngIf="activeTab === 1">
      <!--  PROFILE DETAILS  -->
      <button 
        [@fadeIn] 
        *ngIf="profileOptions && settingsEnabled" 
        ion-button 
        icon-only 
        (click)="details()">
        <ion-icon name="create"></ion-icon>
      </button>

      <!--  TO CAMERA  -->
      <button 
        #cameraButton
        [@fadeIn] 
        *ngIf="profileOptions && settingsEnabled" 
        ion-button 
        icon-only 
        (click)="camera()">
        <ion-icon name="camera"></ion-icon>
      </button>
    </ng-container>
    <!--  END PROFILE SELECTION CONTROLS  -->


    <!--  BUTTONS AVAILABLE WHEN NOT IN SETTINGS-->
    <ng-container *ngIf="settingsEnabled">
      <!--  DELETE PROFILE  -->
      <button 
        [@fadeIn] 
        ion-button 
        icon-only 
        *ngIf="profileOptions"
        (click)="delete()">
        <ion-icon name="trash"></ion-icon>
      </button>

      <!--  NEW PROFILE  -->
      <button 
        [@fadeIn] 
        *ngIf="!profileOptions" 
        ion-button 
        icon-only 
        (click)="newProfile()">
        <ion-icon name="add"></ion-icon>
      </button>
    </ng-container>

    <!--  TOGGLE SETTINGS  -->
    <button 
      [@fadeIn]  
      ion-button 
      icon-only 
      (click)="settingsEnabled ? settings() : hide()">
      <ion-icon [name]="settingsEnabled ? 'settings' : 'done-all'"></ion-icon>
    </button>

    <!--  LOGOUT  -->
    <button 
      [@fadeIn]
      *ngIf="!settingsEnabled"
      ion-button 
      icon-only
      (click)="logout()">
      <ion-icon name="log-out"></ion-icon>
    </button>
  </ion-buttons>
</ion-navbar>