<!--  CAMERA FAB CONTROLS  -->
<ng-container>
  <!--  OPACITY TOGGLE  -->
  <ion-fab 
    [@fade]
    top 
    left 
    #opacityFab 
    *ngIf="!isPicTaken">
    <button 
      id="opacity"
      ion-fab
      mini 
      color="transparent"
      (click)="toggleOpacity()">
      <ion-icon  color="i-faze" [name]="isOpacityOpen ? 'close' : 'switch'"></ion-icon>
    </button>
    <ion-fab-list [@fadeIn] side="right">
      <ion-range 
        #opacityRange
        [(ngModel)]="opacity"
        min="1"
        max="99"
        color="i-faze"
        id="opacity-slider">
        <ion-label color="i-faze" range-left>1</ion-label>
        <ion-label color="i-faze" range-right>{{ opacityRange.value || 1 }}</ion-label>
      </ion-range>
    </ion-fab-list>
  </ion-fab>

  <!--  FLASH BUTTON  -->
  <ion-fab
    id="flash"
    top 
    right
    [@fadeIn]
    *ngIf="platform.is('cordova') && !(isPicTaken || isOpacityOpen)">
    <button 
      ion-fab 
      mini
      *ngIf="platform.is('cordova') && !isPicTaken"
      [color]="isFrontFacing ? 'transparent' : 'i-faze'" 
      (click)="toggleCamera()">
      <ion-icon [color]="isFrontFacing ? 'i-faze' : 'light'" [name]="isFrontFacing ? 'reverse-camera' : 'person'"></ion-icon>
    </button>

    <button 
      ion-fab 
      mini 
      color="transparent"
      (click)="toggleFlash()">
      <ion-icon color="i-faze" [name]="isFlashOn ? 'moon' : 'sunny'"></ion-icon>
    </button>
    
  </ion-fab>
  
</ng-container>
<!--  END CAMERA CONTROLS  -->

<ng-container>
  <!--  CONTAINER FOR PREVIOUS IMAGE, ELSE TEMPLATE  -->
  <ng-container *ngIf="isOpacityOpen">
      <img 
        *ngIf="prev != null; else templateImage"
        #prevImage 
        [src]="prev" 
        id="capture-previous" 
        [ngStyle]="{ 'opacity': (opacity / 100) }" />

      <ng-template #templateImage>
        <div id="template-image" [ngStyle]="{ 'max-height': platform.width() }"></div>
      </ng-template>
  </ng-container>

  <img  
    [src]="capture" 
    id="capture-preview"
    *ngIf="isPicTaken"
    [ngStyle]="{ 'height': platform.width() }" /> 
</ng-container>

<!--  LEFT FAB  -->
<ion-fab bottom left [@slideFromLeft]="'in'">
  <button 
    ion-fab 
    mini
    *ngIf="!isPicTaken" 
    color="transparent"
    (click)="goBack()">
    <ion-icon color="i-faze" name="arrow-back"></ion-icon>
  </button>

  <button
    id="save"
    ion-fab 
    mini
    color="transparent"
    *ngIf="isPicTaken"
    (click)="savePreview()">
    <ion-icon color="i-faze" name="download"></ion-icon>
  </button>

</ion-fab>


<!--  CENTER FAB BUTTONS  -->
<ion-fab 
center 
fixed
bottom 
[@fade]>
<!--  CAPTURE PREVIEW BUTTON  -->
<button
  ion-fab 
  id="camera-button"
  color="transparent"
  *ngIf="!isPicTaken" 
  (click)="capturePreview()">
  <ion-icon color="i-faze" name="camera"></ion-icon>
</button>
<!--  DELETE PREVIEW  -->
<button 
  ion-fab 
  id="delete" 
  color="transparent" 
  *ngIf="isPicTaken" 
  (click)="deletePreview()">
  <ion-icon color="i-faze" name="close"></ion-icon>
</button>
</ion-fab>
<!--  END CENTER FAB BUTTONS  -->


<!--  RIGHT FAB  -->
<ion-fab bottom right [@slideFromRight]="'in'">
  <!-- CAMERA DIRECTION TOGGLE -->
  <!--<button 
    ion-fab 
    mini
    *ngIf="platform.is('cordova') && !isPicTaken"
    [color]="isFrontFacing ? 'transparent' : 'i-faze'" 
    (click)="toggleCamera()">
    <ion-icon [color]="isFrontFacing ? 'i-faze' : 'light'" [name]="isFrontFacing ? 'reverse-camera' : 'person'"></ion-icon>
  </button>-->
</ion-fab>

