
    <ion-card *ngIf="profile" no-padding>
        <ion-card-header no-lines no-margin no-padding>
            <ion-slides 
                #thumbSlide 
                id="thumbSlide" 
                *ngIf="profile.images?.length; else noPics">

                <ion-slide 
                    no-padding
                    *ngFor="let image of profile.images; let i = index"
                    pager="true"
                    paginationType="bullet">

                    <ion-fab top right>
                        <button 
                            ion-fab 
                            mini 
                            outline
                            id="remove"
                            (click)="remove(i)">
                            <ion-icon color="i-faze" name="close"></ion-icon>
                        </button>
                    </ion-fab>

                    <ion-fab bottom left *ngIf="!thumbSlide.isBeginning()">
                        <button 
                            ion-fab 
                            mini 
                            id="prev"
                            outline 
                            (click)="slidePrev()">
                            <ion-icon color="i-faze" name="arrow-back"></ion-icon>
                        </button>
                    </ion-fab>

                    <ion-fab bottom right *ngIf="!thumbSlide.isEnd()">
                        <button 
                            ion-fab 
                            mini
                            id="forward"
                            outline 
                            (click)="slideNext()">
                            <ion-icon color="i-faze" name="arrow-forward"></ion-icon>
                        </button>
                    </ion-fab>

                    <img [src]="image">
                </ion-slide>
            </ion-slides>

            <ng-template #noPics>
                <ion-list-header no-lines>No Pictures</ion-list-header>
            </ng-template>
        </ion-card-header>

        <ion-card-content no-padding>

            <ion-card-title text-center>

                <ion-item>
                    <ion-note item-left>Created: {{ profile.dateCreated }}</ion-note>
                    <ion-note item-right *ngIf="profile.images">
                        {{ profile.images?.length ? profile.images.length  : '' }}
                        <span *ngIf="profile.images?.length > 1">imgs</span>
                        <span *ngIf="profile.images?.length === 1">img</span>
                    </ion-note>
                </ion-item>
            </ion-card-title>
            <ion-list no-padding>
            <ion-item no-lines>
                <ion-label floating showWhen="android">
                    Title
                </ion-label>
                <ion-input 
                    type="text" 
                    [placeholder]="!isMd ? 'Profile title' : ''" 
                    [(ngModel)]="profile.name" 
                    required></ion-input>

                <ion-datetime
                    item-right
                    #alarmPicker
                    hidden
                    [(ngModel)]="profile.alarm"
                    displayFormat="h:mm:A"
                    pickerFormat="h:mm:A">
                </ion-datetime>  

                <button ion-button icon-left outline item-right (click)="alarmPicker.open()">
                    <ion-icon name="alarm"></ion-icon>
                    {{ profile.alarm ? profile.alarm : 'Set Alarm' }}
                </button>
            </ion-item>
            
            
                
                <ion-item no-lines>
                    <ion-label floating showWhen="android">Description</ion-label>
                    <ion-textarea [placeholder]="!isMd ? 'Profile description' : ''" [(ngModel)]="profile.desc"></ion-textarea>
                </ion-item> 
                
                        
            </ion-list>
        </ion-card-content>
</ion-card>