
    <ion-card *ngIf="profile" no-padding class="scroll-content">
        <ion-card-header no-lines no-margin no-padding>
            <ion-slides 
                #thumbSlide 
                id="thumbSlide" 
                *ngIf="profile.images?.length; else noPics"
                [initialSlide]="profile.images?.length - 1"
                (ionSlideDidChange)="toggleSlideLock()">

                <ion-slide no-padding *ngFor="let image of profile.images; let i = index" pager="true" paginationType="bullet">
                    <ion-fab top right>
                        <button ion-fab mini outline id="remove" (click)="remove(i)">
                            <ion-icon color="faze" name="close"></ion-icon>
                        </button>
                    </ion-fab>
                    <img [ngStyle]="{ 'max-height': platform.width() }" [src]="image">
                </ion-slide>
            </ion-slides>

            <ng-template #noPics>
                <ion-list-header no-lines>No Pictures</ion-list-header>
            </ng-template>
        </ion-card-header>

        <ion-card-content no-padding>
            <ion-card-title text-center>
                <ion-item>
                    <ion-note item-left>Created: {{ profile.dateCreated }}</ion-note>
                    <!--<ion-note item-right *ngIf="profile.images">
                        {{ profile.images?.length ? profile.images.length  : '' }}
                        <span *ngIf="profile.images && profile.images?.length !== 1">imgs</span>
                        <span *ngIf="profile.images && profile.images?.length === 1">img</span>
                    </ion-note>
                    <ion-note item-right *ngIf="!profile.images">
                        0 imgs
                    </ion-note>-->
                    <ion-chip item-right>
                        <ion-label>{{ currentThumbnail }} / {{ profile.images?.length }}</ion-label>
                    </ion-chip>
                </ion-item>
            </ion-card-title>
            <ion-list no-padding>
                    
            <ion-item ion-row no-lines>
                <ion-label stacked showWhen="android">Title</ion-label>
                <ion-input type="text" [placeholder]="!isMd ? 'Profile title' : ''" [(ngModel)]="profile.name" required>
                </ion-input>
                
                <ion-datetime 
                    item-right 
                    #alarmPicker 
                    hidden 
                    [(ngModel)]="profile.alarm" 
                    displayFormat="h:mm:A" 
                    pickerFormat="h:mm:A"
                    (ionChange)="updateAlarm($event)">
                </ion-datetime>
            </ion-item> 

            <ion-item no-lines>
                <ion-label stacked showWhen="android">Description</ion-label>
                <ion-textarea [placeholder]="!isMd ? 'Profile description' : ''" [(ngModel)]="profile.desc"></ion-textarea>
            </ion-item> 
            
            <button ion-button full block icon-left margin-vertical (click)="alarmPicker.open()">
                <ion-icon name="alarm"></ion-icon>
                {{ profile.alarm ? profile.alarm : 'Set Alarm' }}
            </button>
        </ion-list>
    </ion-card-content>
</ion-card>

<ion-fab right bottom [@slideFromRight]="out">
    <button id="back-to-profiles" ion-fab mini color="i-faze" (click)="back()">
        <ion-icon color="faze" name="arrow-forward"></ion-icon>
    </button>
</ion-fab>
